# Base de datos (Neon - PostgreSQL serverless)
DATABASE_URL=postgresql://usuario:password@tu-host.neon.tech/neondb?sslmode=require

# Autenticación (NextAuth.js)
NEXTAUTH_SECRET=tu_secret_aqui
NEXTAUTH_URL=http://localhost:3000

# Google AI (Gemini)
GOOGLE_GENERATIVE_AI_API_KEY=tu_api_key_aqui
